<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'main.css' %>
</head>
<body>
  <main id='users'>
    <% @users.each do |user| %>
      <%= link_to "/users/#{user.id}" do %>
        <section id='user_box'>
          <img class='image' src=<%= user.photo %> alt='profile picture' />
          <div class='user_name'>
            <h1 class='name'><%= user.name %></h1>
            <p class='posts_counter'>Number of posts: <%= user.posts_counter%></p>
          </div>
        </section>
      <% end %>
    <% end %>
  </main>
</body>
</html>