<section id='user_box'>
  <div>
    <img class='image' src=<%= @user.photo %> alt='profile picture' />
    <div class='user_name'>
      <h1 class='name'><%= @user.name %></h1>
      <p class='posts_counter'>Number of posts: <%= @user.posts_counter%></p>
    </div>
  </div>
  <div>
    <button><%= link_to 'Create A New Post', "/users/#{@user.id}/posts/new" %></button>
  </div>
</section>
<section class='bio'>
  <h4>Bio</h4>
  <p><%= @user.bio %></p>
</section>

<section id='posts'>
  <% @user.three_most_recent_posts.each do |recent_post| %>
    <article id='post'>
      <h4><%= recent_post.title %></h4>
      <div class='texts'>
        <p class='text'><%= recent_post.text %></p>
        <div class='comlik'>
          <p>
            <span class='comments'>Comments: <%= recent_post.comments_counter %></span>,
            <span class='likes'>Likes: <%= recent_post.likes_counter %></span>
          </p>
        </div>
      </div>
    </article>
  <% end %>
</section>

<div id='allposts'>
  <%= link_to "/users/#{@user.id}/posts" do %>
    <button>See all post</button>
  <% end %>
</div>
