<!DOCTYPE html>
<html>
<head></head>
<body>

  <%# Get the user %>
  <section id='user_box'>
    <div>
      <img class='image' src=<%= @users.photo %> alt='profile picture'>
      <div class='user_name'>
        <h1 class='name'><%= @users.name %></h1>
        <p class='posts_counter'>Number of posts: <%= @users.posts_counter%></p>
      </div>
    </div>
  </section>

  <%# Get the posts of the particular user %>
  <% @posts.each do |post| %>
    <section id='post' class='post'>
      <h4><%= link_to post.title, "/users/#{@users.id}/posts/#{post.id}" %></h4>
      <div class='texts'>
        <p class='text'><%= post.text %></p>
        <div class='comlik'>
          <p>
            <span class='comments'>Comments: <%= post.comments_counter %></span>,
            <span class='likes'>Likes: <%= post.likes_counter %></span>
          </p>
        </div>
      </div>
    </section>
    <section class='comment post'>
        <p class='no_post'> <%= 'There is no comment for this post' if post.comments.length === 0 %></p>
        <% post.five_most_recent_comment.each do |comment| %>
          <p class='user_comment'><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
    </section>
  <% end %>

  <%# Pagination %>
  <div class='pagination'>
    <button>Pagination</button>
  </div>
</body>
</html>