<p>Here is a user's post with this id</p>
<p>I am now in the show action</p>
<section class='each-post'>
  <p><%= @post.title %> <span>by <%= @post.author.name %></span></p>
  <div class='commentlike'>
    <p>
      <span class='comment'>Comments: <%= @post.comments_counter %></span>,
      <span class='like'>Likes: <%= @post.likes_counter %></span>
    </p>
  </div>
  <article class='content'>
    <p><%= @post.text %></p>
  </article>
</section>
<section class='allcomment'>
  <% @post.comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
</section>
